In [179]:
import pandas as pd
from google.colab import files

In [180]:
#Reading Power report
power_myfile = open("S953_Trojan_Power.txt","r")
power_myfile1 = open("S953_Trojan_Power.txt","r")

In [181]:
power_content = power_myfile1.readlines()
power_mylines = []
count = 0
start_count=0
end_count=0
power_file = open ("S953_Trojan_power_report.csv","w")

In [182]:
#Reading RC report
rc_myfile = open("s953_Trojan_RC.txt","r")
rc_mylines = []
rc_file = open ("S953_Trojan_RC_report.csv","w")

In [183]:
#CSV report
csv_report = open ("S953_Trojan_csv_report.csv","w")

In [184]:
for mylines in power_myfile:
    count = count+1
    if ('Net Load' in mylines):
        print ('Report starting at ', count)
        start_count = count
        
    if ('Total (' in mylines):
        print ('Report ending at ', count)
        end_count = count

Report starting at  44
Report ending at  837

In [185]:
end_count = end_count-2

column = 'Net' + ", " + "Total Net Load" + ", " + "Static Prob." + ", " + "Toggle Rate" + ", " + "Switching Power" + '\n'
power_file.write(column)

64

In [186]:
for i in range (start_count+1,end_count):
    split1 = power_content[i].split()
    split1.append(split1)
    split2 = str(split1[0] + ", " + split1[1] + ", " + split1[2] + ", " + split1[3] + ", " + split1[4] + '\n')
    #print (split2)
    power_file.writelines(split2)
    
power_file.close()

In [187]:
column = 'Net' + ", " + "RC" + '\n'
rc_file.write(column)
    
for rc_mylines in rc_myfile:
    if ('*R_NET' in rc_mylines):
        split3 = rc_mylines.split()
        split3.append(split3)
        split4 = str(split3[1]) + ", " + str(split3[2]) + '\n'
        #print (split4)
        rc_file.writelines(split4)
        
rc_file.close()

In [188]:
#csv_report.write(str(l1))
power_df = pd.read_csv(r'''S953_Trojan_power_report.csv''',encoding='cp1252')
power_df

,Net,Total Net Load,Static Prob.,Toggle Rate,Switching Power
0,II274,2.801,0.5,0.1,0.0686
1,II282,2.801,0.5,0.1,0.0686
2,II284,2.801,0.5,0.1,0.0686
3,II263,2.362,0.5,0.1,0.0579
4,II264,1.565,0.5,0.1,0.0383
...,...,...,...,...,...
785,TgWhBufHS1,0.243,0.0,0.0,0.0000
786,TxHIInHS1,0.243,0.0,0.0,0.0000
787,and1,0.243,0.0,0.0,0.0000
788,op,0.243,0.0,0.0,0.0000
789,reset,1.203,0.0,0.0,0.0000

In [189]:
rc_df = pd.read_csv(r'''S953_Trojan_RC_report.csv''',encoding='cp1252')
rc_df

       Net      RC
0       N0  0.2433
1       N1  0.2433
2       N2  0.2433
3       N3  0.2433
4       N4  0.2433
..     ...     ...
741     QC  0.2433
742     QB  0.5436
743     QA  0.5436
744   and1  0.2433
745  reset  1.2030

[746 rows x 2 columns]

In [190]:
power_df = power_df.merge(rc_df,on='Net',how='right')
power_df

,Net,Total Net Load,Static Prob.,Toggle Rate,Switching Power,RC
0,N0,0.243,0.263,0.0986,0.0059,0.2433
1,N1,0.243,0.249,0.0997,0.0059,0.2433
2,N2,0.243,0.253,0.0983,0.0059,0.2433
3,N3,0.243,0.245,0.0952,0.0057,0.2433
4,N4,0.243,0.000,0.0000,0.0000,0.2433
...,...,...,...,...,...,...
741,QC,0.243,0.000,0.0000,0.0000,0.2433
742,QB,0.544,0.000,0.0000,0.0000,0.5436
743,QA,0.544,0.000,0.0000,0.0000,0.5436
744,and1,0.243,0.000,0.0000,0.0000,0.2433
745,reset,1.203,0.000,0.0000,0.0000,1.2030

In [191]:
power_df.to_csv('S953_Trojan_csv_report.csv') 
files.download('S953_Trojan_csv_report.csv')